* {
  margin: 0;
  padding: 0;
}

body {
  overflow: auto;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #f5f0e6;
  padding: 2rem;
  color: #fff;
  letter-spacing: 0.25pt;
}

p {
  color: lightblue;
}

/* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: lightgray;
}

/* mouse over link */
a:hover {
  color: lavender;
}

/* selected link */
a:active {
  color: red;
}

#app {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 2rem;
}

#myInput {
  width: 200px;
}

.noun {
  background-color: #74992e;
}
.adjective {
  background-color: #992e7b;
}
.verb {
  background-color: #f3e812;
  color: #165472;
}
.adverb {
  background-color: orange;
  color: #165472;
}
.na {
  background-color: black;
}
.noun,
.adjective,
.verb,
.adverb,
.na {
  padding-left: 2px;
  padding-right: 2px;
}
