* {
  margin: 0;
  padding: 0;
}

body {
  overflow: auto;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #f5f0e6;
  padding: 2rem;
  color: #000000;
  letter-spacing: 0.25pt;
}

p {
  color: #000000;
}

h3 {
  font-size: smaller;
}

/* unvisited link */
a:link {
  color: darkolivegreen;
}

/* visited link */
a:visited {
  color: dimgray;
}

/* mouse over link */
a:hover {
  color: lavender;
}

/* selected link */
a:active {
  color: red;
}

#app {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 2rem;
}
