body{
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 50px;
}

svg{
  background-color: white;
  fill: blue;
  /* stroke: black; */
}

#dataviz{
  margin-bottom: 80px;
}